{% extends 'base.html' %}

{% block content %}
    <div id="home" class="banner-area section-padding">
        <div class="bg-overlay black"></div>
        <div class="containter">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Hello, my name is Albert Byrone</div>
                         <p class="name-area wow fadeInDown" data-wow-delay="0.2s">Moringa School Alumni</p>
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">A FullStack Developer</h1>
                        
                        <a href="#about" class="my-btn-1 wow fadeInDown" data-wow-delay="0.6s">Learn more</a>
                        <a href="#contact" class="my-btn-2 wow fadeInDown" data-wow-delay="0.8s">Get in touch</a>
                       
                    </div>
                </div>
                
            </div>
        </div>
    </div>



<!-- About section -->

 <div id="about" class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-left">
                        <h2 class="section-title">About Me</h2>
                        <div class="line"></div>
                        <p><b>Name</b>: {{ about.name }}</p>
                        <p><b>Profile</b>: {{ about.profile }}</p>
                        <p><b>Phone</b>: {{ about.phone_number }}</p>
                        <p><b>Email</b>:{{ about.email | lower }}</p>

                        <p>{{ about.description }}</p>
                    </div>

                  
                </div>
                <div class="col-md-5 visible-md visible-lg wow fadeInDown" data-wow-delay="0.6s">
                    <div class="profile">
                       
                        <img src="{{ about.image.url }}" alt="Profile image" class="img-responsive">
                    </div>
                </div>
              
            </div>
        </div>
    </div> 

        <!-- Services Section -->
    <div id="skills" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Skills</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for service in services %}

                    <div class="col-md-3 mb-2 ">
                        <div class="single-service wow fadeInDown m-4" data-wow-delay="0.2s">
                            <img src=" {{service.image}}" alt="image" style="height:120px;width:160px;">
                            <!-- <i class="icon icon-wallet"></i> -->
                            <!-- <h2>{{ service.name }}</h2>
                            <p>{{ service.description }}</p> -->
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {#    Recent Works Section#}
    <div id="portfolio" class="portfolio-area section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>My Recent Works</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for work in works %}
                    <div class="col-md-3 col-sm-4 col-xs-12 ">
                        <div class="gallery-items">
                            <a class="view img" href="{{ work.image.url }}">
                                <img src="{{ work.image.url }}" alt="work image">
                            </a>

                            <div class="gallery-text">
                                <h2>{{ work.title }}</h2>
                                <p style="font-size: 10px;">{{ work.description}}</p>
                            </div>
                            <a  href="{{ work.url }}" target="blank"class="my-btn-1 wow fadeInDown" data-wow-delay="0.6s">Visit Site</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {#    Contact section#}

    <div class="invitation-area section-padding">
        <div class="container">
                <div class="single-invite text-center">
                    <h2>Do you have any projects that need to be done?</h2>
                    <a href=""><i class="far fa-envelope"> albertbyrone1677@gmail.com</i></a>
                </div>
               
            </div>
        </div>
    </div>

    <div id="contact" class="contact-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                    <h2>Contact Me</h2> 
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 box-contact-form">

                    <form id="contact-form" method="post" action="#">

                        <div class="messages">
                            <div class="mt-5 pt-4">
                                {% if messages %}
                                    {% for message in messages %}
                                <div class="alert alert-{{ message.tags}} alert-dismissible fade show " role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                    {% endfor %}
                                {% endif %}
                                 </div>
                        </div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.2s">
                                        <input id="form_name" type="text" name="name" class="form-control"
                                               placeholder="Enter your full name *" required="required"
                                               data-error="Fullname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-delay="0.4s">
                                        <input id="form_email" type="email" name="email" class="form-control"
                                               placeholder="Enter your email *" required="required"
                                               data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                                        <textarea id="form_message" name="message" class="form-control"
                                                  placeholder="Your Message *" rows="4" required="required"
                                                  data-error="Leave a message for me"></textarea>
                                        <div class="help-block Create Innovative application with mewith-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-send" value="submit">Send message</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div> -->

{% endblock %}